@font-face {
  font-family: "lm"; /* Project id 2712935 */
  src: url('iconfont.woff?t=1671780904989') format('woff');
}

.lm {
  font-family: "lm" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lm-icon-menu:before {
  content: "\e601";
}

.lm-icon-home:before {
  content: "\e607";
}

.lm-icon-warning:before {
  content: "\e8e5";
}

.lm-icon-top:before {
  content: "\e608";
}

.lm-icon-codepen:before {
  content: "\e884";
}

.lm-icon-github:before {
  content: "\e885";
}

.lm-icon-gitee:before {
  content: "\e60c";
}

.lm-icon-niantie:before {
  content: "\ed8b";
}

.lm-icon-diannaoduan:before {
  content: "\e636";
}

.lm-icon-copy:before {
  content: "\e629";
}

.lm-icon-code:before {
  content: "\e66e";
}

.lm-icon-drop-up:before {
  content: "\e6f9";
}

.lm-icon-drop-left:before {
  content: "\e6fa";
}

.lm-icon-drop-right:before {
  content: "\e6fb";
}

.lm-icon-drop-down:before {
  content: "\e600";
}

.lm-icon-loading:before {
  content: "\e62e";
}

.lm-icon-dashboard:before {
  content: "\e6f8";
}

