/* 公共样式class */
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mouse {
  cursor: pointer;
}
/* 超出2行显示省略号 */
.line {
  display: -webkit-box;//将对象作为弹性伸缩盒子模型显示。
  overflow: hidden;//超出部分隐藏
  text-overflow: ellipsis;//文本溢出部分用省略号表示
  word-wrap: break-word;
  -webkit-line-clamp: 2;//限制行数
  -webkit-box-orient: vertical;//从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）
}
